<div class="progress-bar-container-fixed">
    <!-- <ul>
       <li ng-repeat="song in songs">
           <button music-player="play" add-song="song" play-pause-toggle>{{ song.title }}</button>
       </li>
    </ul> -->
    <div class="progress-bar-container">
        <div class="buttons-container">
            <div ng-hide="hideButtons == true" class="progress-bar-shuffle-container"><div class="progress-bar-shuffle-button" ng-class="[{true:'shuffle'}[shuffle]]"></div></div>
            <div ng-hide="hideButtons == true" class="progress-bar-next-container" next-track><div class="progress-bar-next-button"></div></div>
            <div class="progress-bar-play-container" ng-class="[{true:'playing'}[playing]]" play-pause-toggle data-play="<i></i>" data-pause="<span></span>"><div class="progress-bar-play-button"></div></div>
            <div ng-hide="hideButtons == true" class="progress-bar-previous-container" prev-track><div class="progress-bar-previous-button"></div></div>
            <div class="progress-bar-favorite-container" ng-click="favorite(id, index)"><div class="{{'progress-bar-favorite-button progress' + tracks[index].favorited}}"></div></div>
            <div class="progress-bar-soundcloud-container"><a target="_blank" href="{{permalink_url}}" class="progress-bar-soundcloud-button"><img class="soundcloud-logo" src="https://w.soundcloud.com/icon/assets/images/white_transparent_64-94fc761.png"/></a></div>
            <div class="progress-bar-volume-slider-container">
                <div class="progress-bar-volume-slider-overlay-relative-container">
                    <div class="progress-bar-volume-slider-overlay-absolute-container">
                        <div class="progress-bar-volume-slider-overlay-container">
                            <div class="progress-bar-volume-overlay"></div>
                            <div class="progress-bar-volume-slider">
                                <div class="volume-slider" ng-style="{ 'width' : volume }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-bar-slider-container"></div>
        <div class="progress-bar-slider" seek-track>
          <div class="progress-bar" ng-style="{ 'width' :  ( progress + '%' ) }"></div>
        </div>
        <!-- <div class="seekBase" seek-track>
            <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
        </div> -->
        <div class="track-name-container">
            <div class="progress-track-container"><div class="progress-track">{{trackName}}</div></div>
        </div>
    </div>


</div>
